<footer class="cmp-layoutcontainer--footer">
   <div class="cmp-layoutcontianer--footer__links">
      <div class="cmp-image--logo"
         data-sly-resource="${'image' @ resourceType='/apps/aem-bootcamp/components/general/image'}"
         ></div>
      <div
         data-sly-resource="${'footernav' @ resourceType='/apps/aem-bootcamp/components/structure/footernav'}"
         ></div>
   </div>
   <div
         data-sly-resource="${'footernavs' @ resourceType='/apps/aem-bootcamp/components/general/separator'}"
         ></div>
</footer>