<footer class="cmp-footer">
  <div class="cmp-footer__wrapper">
    <head class="cmp-footer__head">
      <div
        class="cmp-footer__logo-img"
        data-sly-resource="${'image' @ resourceType='/apps/aem-bootcamp/components/image'}"
      ></div>
      <div
        class="cmp-footer__navigation"
        data-sly-resource="${'navigation' @ resourceType='/apps/aem-bootcamp/components/navigation'}"
      ></div>
    </head>
    <section
      class="cmp-footer__separator"
      data-sly-resource="${'separator' @ resourceType='/apps/aem-bootcamp/components/separator'}"
    />
    <section
      class="cmp-footer__text"
      data-sly-resource="${'text' @ resourceType='/apps/aem-bootcamp/components/text'}"
    />
  </div>
</footer>
