<div class="cmp-subscribe">
  <form method="post" action="" id="subscribe-form">
    <div class="cmp-subscribe__input-group">
      <label for="first-name">First Name:</label>
      <input id="first-name" type="text" name="First Name" />
    </div>
    <div class="cmp-subscribe__input-group">
      <label for="last-name">Last Name:</label>
      <input id="last-name" type="text" name="Last Name" />
    </div>
    <div class="cmp-subscribe__input-group">
      <label for="email-id">Email Id:</label>
      <input id="email-id" type="email" name="Email Id" />
    </div>
    <div class="cmp-subscribe__input-group">
      <label for="article-type">Preferred Article Type: </label>
      <select name="article-type" id="article-type">
        <option value="demo-value">Demo Title</option>
      </select>
    </div>
    <button type="submit">Subscribe</button>
  </form>
</div>
