.cmp-separator__grey {
    .cmp-separator__horizontal-rule {
        border-color: grey;
    }
}

.cmp-separator__black {
    .cmp-separator__horizontal-rule {
        border-color: black;
    }
}

.cmp-separator__yellow {
    .cmp-separator__horizontal-rule {
        border-color: yellow;
    }
}

.cmp-separator__blue {
    .cmp-separator__horizontal-rule {
        border-color: blue;
    }
}

.cmp-separator__red {
    .cmp-separator__horizontal-rule {
        border-color: red;
    }
}

.cmp-separator__white {
    .cmp-separator__horizontal-rule {
        border-color: white;
    }
}
