<sly
  data-sly-use.header="com.aembootcamp.core.models.HeaderModel"
  data-sly-test.empty="${!header.fileReference}"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-call="${template.placeholder @ isEmpty=empty}"
/>
<sly data-sly-test="${!empty}">
  <header class="cmp-header">
    <div class="cmp-header__logo">
      <div class="cmp-header__logo-image">
        <a href="${header.logoLink @extension='html'}">
          <img
            src="${header.fileReference}"
            loading="lazy"
            class="cmp-header__logo-image-image"
            alt="${header.altText @ context='text'}"
          />
        </a>
      </div>
    </div>
    <div class="cmp-header__navigation">
      <button class="cmp-header__navigation-hamburger" id="hamburger">
        <span class="cmp-header__navigation-hamburger-line"></span>
        <span class="cmp-header__navigation-hamburger-line"></span>
        <span class="cmp-header__navigation-hamburger-line"></span>
      </button>
      <button class="cmp-header__navigation-close" id="hamburger-close">X
      </button>
      <nav class="cmp-header__navigation-nav" id="header-cmp-navigation">
        <ul class="cmp-header__navigation-nav-group">
          <li
            data-sly-repeat.navItems="${header.headerNavigationItemsList}"
            class="cmp-header__navigation-nav-item ${navItems.path == currentPage.path ? 'cmp-header__navigation-nav-item--active' : ''}"
          >
            <a
              href="${navItems.path @extension='html'}"
              class="cmp-header__navigation-nav-link"
              >${navItems.title}</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
</sly>
