<sly
  data-sly-use.header="com.aembootcamp.core.models.HeaderModel"
  data-sly-test.empty="${!header.fileReference}"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-call="${template.placeholder @ isEmpty=empty}"
/>
<sly data-sly-test="${!empty}">
  <header class="cmp-layoutcontainer--header">
    <div class="image cmp-image--logo">
      <div class="cmp-image">
        <a class="cmp-image__link" href="${header.logoLink @extension='html'}">
          <img
            src="${header.fileReference}"
            loading="lazy"
            class="cmp-image__image"
            alt="${header.altText @ context='text'}"
          />
        </a>
      </div>
    </div>
    <div class="navigation cmp-navigation--header">
      <nav class="cmp-navigation">
        <ul class="cmp-navigation__group">
          <li
            data-sly-repeat.navItems="${header.headerNavigationItemsList}"
            class="cmp-navigation__item cmp-navigation__item--level-0 ${navItems.path == currentPage.path ? 'cmp-navigation__item--active' : ''}"
          >
            <a
              href="${navItems.path @extension='html'}"
              data-cmp-clickable=""
              class="cmp-navigation__item-link"
              >${navItems.title}</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
</sly>
