.cmp-breadcrumb {}
.cmp-breadcrumb__list {
    display: flex;
    column-gap: 5px;
    list-style: none;
}
.cmp-breadcrumb__item {
    text-transform: uppercase;
    font-weight: $font-semibold;
}
.cmp-breadcrumb__item--active {}
.cmp-breadcrumb__item-link {
    text-decoration: none;
}

.cmp-breadcrumb__item-link::after {
    content: "▶";
    color: red;
    margin-left: 5px;
}