.footernav {
  .cmp-navigation__item {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
  }

  .cmp-navigation__item-link {
    text-decoration: none;
    flex-shrink: 0;
  }

  .cmp-navigation__item .cmp-navigation__item-link {
    border-bottom: transparent 2px solid;
  }

  .cmp-navigation__item .cmp-navigation__item-link:hover {
    border-bottom: $color-foreground 2px solid;
  }
}