.cmp-footer {
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 95px 16px;
    background-color: $color-foreground;
    color: $color-background;
  }

  &__head {
    display: flex;
    padding: 19px 0 5px 0;
    gap: 10px;
  }

  &__logo-img {
    width: 150px;
    .cmp-image {
      width: inherit;
      &__image {
        min-width: inherit;
        width: inherit;
        margin: 0;
      }
    }
    &.image {
      overflow: visible;
    }
  }

  &__navigation {
    .cmp-navigation {
      &__group {
        flex-wrap: wrap;
      }
      &__item-link {
        color: $color-background;
        text-transform: uppercase;
      }
    }
  }

  &__separator {
  }

  &__text {
    line-height: 10px;
  }

  //mobile
  @media (max-width: 550px) {
    &__wrapper {
      padding: 0 40px 16px;
    }

    &__head {
      flex-wrap: wrap;
    }

    &__text {
      line-height: 14px;
    }
  }

  //tablet
  @media (max-width: 700px) {
    &__navigation {
      .cmp-navigation {
        &__group {
          padding: 0;
        }
      }
    }

    &__text {
      line-height: 14px;
    }
  }
}
