.cmp-layoutcontainer--footer {
  display: flex;
  justify-content: center;
  background-color: $color-white;

  .cmp-layoutcontainer--footer__wrapper {
    width: 1024px;
  }

  .cmp-layoutcontainer--footer__links {
    display: flex;
  }

  .cmp-image--logo {
    margin: auto 100px auto 0;

    .cmp-image {
      width: 100px;
    }
  }

  .cmp-navigation__group {
    display: flex;
    padding: 0;
    list-style: none;
    column-gap: 5px;
  }

  .cmp-navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 40px;
    color: $color-foreground;
    text-transform: uppercase;
    padding: 0 5px;
  }

  .cmp-navigation__item-link {
    text-decoration: none;
  }

  .cmp-navigation__item:hover .cmp-navigation__item-link {
    border-bottom: $color-foreground 2px solid;
  }
}
