.footernav {
  .cmp-navigation__group {
    display: flex;
    column-gap: 20px;
  }

  .cmp-navigation__item {
    text-align: center;
    min-width: 100px;
    list-style-type: none;
  }

  .cmp-navigation__item-link {
    text-decoration: none;
    text-transform: uppercase;
  }

  .cmp-navigation__item-link:hover {
    border-bottom: $color-primary 2px solid;
  }
}
