.cmp-header {
  display: flex;
  background-color: $color-white;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.04);

  &__logo {
    flex: 1;
    margin: auto;

    &-image {
      width: 100px;

      &-image {
        width: 100%;
        height: auto;
      }
    }
  }

  &__navigation {
    flex: 1;

    &-hamburger {
      display: none;

      &-line {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        display: flex;
      }
    }

    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background-color: white;
      display: none;
    }

    &-nav-group {
      display: flex;
      padding: 0;
      list-style: none;
      column-gap: 20px;
      flex-wrap: wrap;
    }

    &-nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      height: 40px;
      color: $color-foreground;
      text-transform: uppercase;
      padding: 0 5px;
    }

    &-nav-link {
      text-decoration: none;
    }

    &-nav-item__active {
      background-color: $color-primary;
      color: $color-white;

      .cmp-header__navigation-nav-link {
        color: $color-white;
      }
    }

    &__nav-item:hover .cmp-header__navigation-nav-link {
      border-bottom: $color-primary 2px solid;
    }
  }
}

@media screen and (max-width: 768px) {
  .cmp-header {
    &__navigation {
      display: flex;
      justify-content: end;
      align-items: center;

      &-hamburger {
        display: block;
        background-color: none;
        border: none;
      }

      &-close__open {
        display: block;
        z-index: 3;
      }

      &__nav__open {
        animation: slideIn 0.5s ease-in-out forwards;
        display: block !important;
      }

      &-nav {
        background-color: white;
        position: absolute;
        z-index: 2;
        padding: 20px 50px;
        top: 0;
        display: none;

        &-group {
          flex-direction: column;
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}
