.cmp-layoutcontainer--header {
  display: flex;
  background-color: $color-white;

  .cmp-image--logo {
    flex: 1;
    margin: auto;
    padding-left: 20px;
    
    .cmp-image {
      width: 100%;
      
      &__image{
        height: 60px;
      }
    }
  }

  .cmp-navigation--header {
    flex: 1;

    .cmp-navigation__group {
      display: flex;
      padding: 0;
      list-style: none;
      column-gap: 5px;
    }

    .cmp-navigation__item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      height: 40px;
      color: $color-foreground;
      text-transform: uppercase;
      padding: 0 5px;
      box-sizing: content-box;
    }

    .cmp-navigation__item-link {
      text-decoration: none;
      border: 2px transparent solid;
    }

    .cmp-navigation__item--active {
      background-color: $color-primary;
      pointer-events: none;

      .cmp-navigation__item-link {
        color: $color-white;
      }
    }

    .cmp-navigation__item:hover .cmp-navigation__item-link {
      border-bottom: $color-primary 2px solid;
    }
  }
}