
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

$color-white:           #FFFFFF;

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            $color-foreground;
$color-primary:         #ff0000;

// Dark mode
$color-foreground-dark: $color-foreground;
$color-background-dark: $color-background;
$color-link-dark:       $color-link;
