
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Font Styles
$font-semibold: 600;
$font-bold: 700;

//== Color
$color-grey:            black;
$color-black:           black;
$color-white:           white;
$color-almost-white:    #FFFFFF;
$color-grey:            grey;
$color-yellow:          yellow;
$color-red:             red;
$color-dark-red:        rgb(180, 0, 0);
$color-blue:            blue;

// Normal mode
$color-foreground:      $color-black;
$color-background:      $color-almost-white;
$color-link:            $color-foreground;
$color-primary:         $color-red;
$color-dark-primary:    $color-dark-red;

// Dark mode
$color-foreground-dark: $color-foreground;
$color-background-dark: $color-background;
$color-link-dark:       $color-link;